html {
    min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

	font-family: 'Montserrat', sans-serif;
    color: $black-color;
    font-size: 16px;
    line-height: 1.6875;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

.lock {
    overflow: hidden;
}

/* Grid styles */
.container {
	max-width: 1140px;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    // &--fluid {
    //     max-width: unset;
    // }

    &--no-padding {
        padding: 0;
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 900px;
    }

    /* Tablet Small*/
    @media (max-width: 899px) {
        width: 768px;

        &--fluid {
            width: 100%;
        }
    }

    /* Mobile*/
    @media (max-width: 767px) {
        width: 320px;

        &--fluid {
            width: 100%;
        }
    }
}

/* Utility */
.grad-border {
    display: inline;
    background-repeat: no-repeat;
    background-position: center bottom 15px;
    background-size: 100% 12px;
    background-image: linear-gradient(to right, #fbdc4d, #fbdc4d);
}

.h1.grad-border {
    @media(max-width:1139px) {
        background-position: center bottom 10px;
        background-size: 100% 10px;
    }

    @media(max-width:899px) {
        background-position: center bottom 8px;
        background-size: 100% 8px;
    }
}

.h2.grad-border {
    background-position: center bottom 10px;
    background-size: 100% 8px;

    @media(max-width:1139px) {
        background-position: center bottom 8px;
    }

    @media(max-width:899px) {
        background-position: center bottom 5px;
    }
}

.none {
	display: none !important;
}

.flex-wrapper {
    display: flex;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Sticky Footer */
.footer {
	margin-top: auto; /* sticky footer */

	/* Just for fun */
	background-color: #333333;
	padding: 40px 0 50px;

    color: #B0B0B0;
}

// SVG styles
.svg-ln {
    fill: #000;
    width: 32px;
    height: 32px;
}

.svg-git {
    fill: #000;
    width: 42px;
    height: 42px;
}

.svg-fb, .svg-vk, .svg-tg, .svg-wa,
.social-obj {
    width: 48px;
    height: 48px;

    @media(max-width: 899px) {
        width: 38px;
        height: 38px;
    }
} 
// SVG styles
